@media only screen and (min-width: 1500px) {
  .movie-history-item {
    .info {
      font-size: 1.45rem !important;
    }
  }
}

@media only screen and (max-width: 680px) {
  .movie-history-item {
    .info {
      font-size: 1.6rem !important;
    }
    .action {
      top: -5px !important;
      opacity: 1 !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  .movie-history-item {
    flex-direction: column;
    gap: 5px !important;

    .img-box {
      // flex: 1 0 auto !important;
      flex: 1 0 100% !important;
      max-width: 100% !important;
    }
  }
}

.movie-history .el-skeleton.movie-history-item {
  margin-top: 0px !important;
}

.movie-history-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie-history-item {
  position: relative;
  display: flex;
  transition: all 0.25s;
  width: 100%;
  gap: 15px;

  &:hover {
    .img-box {
      border-radius: 0px;
    }

    .info {
      color: #fff;
    }

    .action {
      opacity: 1;

      .viewmore-btn,
      .remove-btn {
        &:active {
          transition: all 0.2s;
          opacity: 0.7;
          // border: 1px solid #2020204f;
        }
      }
    }
  }

  .img-box {
    position: relative;
    flex: 1 0 250px;
    max-width: 250px;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s;

    .ant-image {
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      transition: all 0.3s;
      height: 0px !important;
      width: 100%;
      padding-bottom: 56.25%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;
        background-color: var(--background-content-color);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .percent-viewed {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: var(--percent-viewed);
      background-color: red;
      z-index: 1;
    }

    .viewed-overlay-bar {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      z-index: 0;
      background-color: #57575787;
    }
  }

  .info {
    position: relative;
    font-size: 1.4rem;
    width: 100%;

    .title {
      color: var(--text-color);
      max-width: 70%;
    }

    .duration-episode {
      color: var(--text-color-gray);
    }

    .year-views {
      color: var(--text-color-gray);
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .overview {
      margin-top: 7px;
      color: var(--text-color-gray);
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
    }
  }

  .action {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -7px;
    right: -12px;
    opacity: 0;
    transition: all 0.1s;

    &:has(.viewmore-btn.ant-dropdown-open) {
      opacity: 1;
    }

    .viewmore-btn.el-button,
    .remove-btn {
      .material-icons-outlined {
      }

      svg {
        font-size: 1.76rem;
      }

      svg.fa-xmark {
        font-size: 2rem;
        font-weight: 400;
      }
    }

    .el-button {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background: inherit;
      border: none;
      transition: all 0.1s;

      &:hover,
      &:focus {
        background: inherit;
      }

      .el-icon {
        font-size: 2rem;
      }

      &.remove-btn {
      }

      &.viewmore-btn {
        margin-left: 2px;
      }
    }
  }
}

.ant-dropdown.dropdown-item-viewmore {
  .ant-dropdown-menu-item {
    i.fa-play {
      margin-left: -3px;
      margin-right: 19.5px;
    }

    svg.icon.play {
      margin-left: -7px;
      margin-right: 13px;
      font-size: 2.6rem;
      width: 2.6rem;
    }

    svg.icon.share {
      margin-right: 16px;
      font-size: 1.8rem;
      width: 1.8rem;
    }

    svg,
    i {
      margin-right: 18px;
      width: 15px;
      font-size: 1.5rem;
    }

    .svg-inline--fa {
      margin-top: -3px;
    }

    svg.fa-trash-can {
      margin-right: 19px;
    }

    .material-icons-outlined {
      margin-right: 19px;
      width: 15px;
      font-size: 2rem;
      margin-left: -2px;
    }

    .icon-material {
      margin-right: 15px;
      width: 20px;
      font-size: 2rem;
      margin-left: -2px;
    }
  }
}

// body:has(.ant-btn.ant-dropdown-open) {
//   overflow: hidden;
// }
