.body-content.expand {
  .home-container {
    .home-content {
      margin-top: -12%;
    }
  }
}

.home-container {
  // min-height: calc(100vh - var(--header-height));

  .gradient-title-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-content {
    position: relative;
    z-index: 1;
    margin-top: -12%;
    clip-path: inset(-100vh 0 -100vh 0);
    // background-color: var(--background-content-color);
    padding: 0px 30px;
    padding-bottom: 50px;
  }

  .home-section {
    position: relative;

    &.recommend {
      .movie-group.horizontal,
      .movie-group.vertical {
        grid-auto-flow: column;
        transition: all 0.3s;
        clip-path: inset(-100vh 0 -100vh 0);

        .loadmore-btn {
          min-height: 160px;
          background: none;
          border: 1px solid #fff;
          z-index: 1;
          margin: auto 0px;

          &:focus {
            border: 1px solid #fff;
          }

          i,
          svg {
            margin-right: 3px;
          }
        }

        &.viewmore {
          grid-auto-flow: row;
          clip-path: none;
        }

        .movie-card-horizontal-item {
          // grid-row: 1;
          align-self: center;
        }
      }

      .viewmore-group {
        position: relative;
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 1.7rem;
        // z-index: 1;

        i,
        svg {
          color: #fff;
          font-size: 2rem;
        }
      }
    }
  }

  .view-all {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color2),
      var(--sider-header-background-color3)
    );
    transition: all 0.25s;
    background-position: 100% center;
    background-size: 100% 100%;

    &:hover {
      background-position: 100% center;
      background-size: 200% 100%;
      // opacity: 0.85;
    }
  }

  .owl-carousel {
    .owl-stage-outer {
      overflow: visible;
      clip-path: none;
    }
  }

  .carousel-group {
    .owl-prev {
      left: -30px;
    }

    .owl-next {
      right: -30px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .home-container {
    .home-content {
      padding: 0px 15px;
    }

    .carousel-group {
      .owl-prev {
        left: -15px;
      }

      .owl-next {
        right: -15px;
      }
    }
  }
}
