.body-content:has(.home-container) {
  .ant-layout.main-content {
    max-width: 100%;
  }

  .ant-layout-content.container {
    padding: 0px;
  }

  .carousel-group {
    overflow: visible;
  }

  &.expand {
    margin-top: 0px;

    .home-container {
      .home-content {
        // margin-top: -12%;
        padding: 0px var(--padding-home-expand);
      }
    }
  }
}

.home-container {
  // min-height: calc(100vh - var(--header-height));

  .home-content {
    position: relative;
    z-index: 1;
    // margin-top: -12%;
    clip-path: inset(-100vh 0 -100vh 0);
    // background-color: var(--background-content-color);
    padding: 0px var(--padding-home);
    // padding-bottom: 70px;
  }

  .home-section {
    position: relative;

    .gradient-title-default {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .view-all {
        font-size: 0.7em;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(
          to right,
          var(--app-background-color2),
          var(--app-background-color3)
        );
        transition: all 0.25s;
        background-position: 100% center;
        background-size: 100% 100%;

        &:hover {
          background-position: 100% center;
          background-size: 200% 100%;
          // opacity: 0.85;
        }
      }
    }

    &.recommend {
      .movie-group.vertical {
        // grid-auto-flow: column;
        // clip-path: inset(-100vh 0 -100vh 0);

        .loadmore-btn {
          height: 50%;
          background: none;
          border: 1px solid #fff;
          z-index: 1;
          margin: auto 0px;

          &:focus {
            border: 1px solid #fff;
          }

          i,
          svg {
            margin-right: 3px;
          }
        }

        &.viewmore {
          grid-auto-flow: row;
          clip-path: none;
        }
      }

      .viewmore-group {
        position: relative;
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 1.7rem;
        // z-index: 1;

        i,
        svg {
          color: #fff;
          font-size: 2rem;
        }
      }
    }
  }

  .owl-carousel {
    .owl-stage-outer {
      overflow: visible;
      clip-path: none;
    }
  }

  .carousel-group {
    .owl-prev,
    .swiper-button-prev {
      left: calc(0px - var(--padding-home));
    }

    .owl-next,
    .swiper-button-next {
      right: calc(0px - var(--padding-home));
    }
  }
}

@media only screen and (max-width: 1500px) {
  .body-content:has(.home-container) {
    .home-container {
      .home-content {
        padding: 0px 15px;
        padding-bottom: 30px;

        .carousel-group {
          .owl-prev,
          .owl-next,
          .swiper-button-prev,
          .swiper-button-next {
            width: 30px;
          }

          .owl-prev,
          .swiper-button-prev {
            left: calc(-15px);
          }

          .owl-next,
          .swiper-button-next {
            right: calc(-15px);
          }
        }
      }
    }

    &.expand {
      .home-container {
        .home-content {
          padding: 0px 30px;
          padding-bottom: 50px;

          .carousel-group {
            .owl-prev,
            .swiper-button-prev {
              left: calc(-30px);
            }

            .owl-next,
            .swiper-button-next {
              right: calc(-30px);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .body-content:has(.home-container),
  .body-content.expand:has(.home-container) {
    .home-container {
      .home-content {
        padding: 0px 15px;
        padding-bottom: 30px;
      }

      .carousel-group {
        .owl-prev,
        .swiper-button-prev {
          left: -15px;
        }

        .owl-next,
        .swiper-button-next {
          right: -15px;
        }
      }
    }
  }
}
