@media (prefers-color-scheme: dark) {
  footer.footer {
    // background-color: var(--background-content-color);
  }
}

footer.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  // background-color: transparent;
  background-color: var(--background-content-color);
  border-top: 1px solid var(--border-regular-light);
  margin-top: auto;
  font-size: 1.45rem;
  padding: 24px 50px;
  color: var(--text-color);
  z-index: 1;

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .logo {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        height: 50px;
        margin-right: 15px;
      }
    }

    .note {
      margin-top: 20px;
    }
    .support {
      margin-top: 15px;

      p {
        margin-bottom: 10px;
      }

      a + a {
        margin-left: 15px;
      }

      a {
        color: var(--text-color);
        transition: all 0.25s;
      }

      .email,
      .facebook {
        color: var(--text-color);

        &:active {
          opacity: 0.8;
        }
      }
    }
  }
  .copyright {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 900px) {
  footer.footer {
    padding: 24px;
    font-size: 1.4rem;
  }
}
