@media (prefers-color-scheme: dark) {
  .ant-layout-footer.footer {
    // background-color: var(--background-content-color);
  }
}

.ant-layout-footer.footer {
  // background-color: transparent;
  background-color: var(--background-content-color);
  border-top: 1px solid var(--border-regular-light);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  z-index: 0;
  color: #fff;
  font-size: 1.4rem;

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;

    .logo {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        height: 50px;
        margin-right: 20px;
      }
    }

    .note {
      margin-top: 20px;
    }
    .support {
      margin-top: 15px;

      p {
        margin-bottom: 10px;
      }

      a + a {
        margin-left: 15px;
      }

      a {
        color: #fff;
        transition: all 0.25s;
      }

      .facebook {
        color: #d4d4d4;

        &:hover {
          color: #fff;
        }

        &:active {
          opacity: 0.8;
        }
      }

      .email {
        color: #d4d4d4;

        &:hover {
          color: #fff;
        }

        &:active {
          opacity: 0.8;
        }
      }
    }
  }
  .copyright {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .ant-layout-footer.footer {
    padding: 24px 25px;
  }
}
