@media only screen and (min-width: 1900px) {
  .el-carousel {
    .el-carousel__container {
      max-height: 1100px;
    }
  }
}

@media only screen and (max-width: 1900px) {
  .el-carousel {
    .el-carousel__container {
      height: 60vh !important;
    }
  }

  .ant-carousel {
    .slick-track {
      // height: 70vh !important;
    }
  }
}

@media only screen and (max-width: 1670px) {
  .el-carousel {
    .el-carousel__container {
      height: 55vh !important;
    }
  }
  .ant-carousel {
    .slick-track {
      // height: 65vh !important;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .el-carousel {
    .el-carousel__container {
      // height: 520px !important;
      height: 95vh !important;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .el-carousel {
    .el-carousel__container {
      height: 500px !important;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .el-carousel {
    .el-carousel__container {
      height: 450px !important;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .el-carousel {
    .el-carousel__container {
      height: 400px !important;
    }
  }
}

@media only screen and (max-width: 900px) {
  .slide-topic-home {
    .overlay-backdrop {
      // width: 120% !important;
      // height: 120% !important;
    }
  }
}

.slide-topic-home {
  position: relative;

  .overlay-backdrop {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    // margin-top: calc(var(--header-height) + 150px);
    // height: calc(100vh - (var(--header-height) + 150px));
    height: 120%;
    width: 100%;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.4;
      filter: blur(150px);
      // border-radius: 35%;
    }
  }

  .el-carousel.topic-home {
    .el-carousel__container {
      position: relative;

      .el-carousel__item {
        border-radius: 5px;
        transform: translate(0px) scale(1) !important;
        transition: all 0.5s;
        opacity: 0;

        &.is-active {
          opacity: 1;
          z-index: 1;
        }
      }
    }

    .el-carousel__indicators {
      right: 10px;
      z-index: 12;
      padding: 0px 10px;
      top: 45%;

      .el-carousel__indicator {
        height: 25px;
        width: 7px;
        padding: 4px 0px;
        transition: all 0.5s;

        .el-carousel__button {
          height: 100%;
          width: 100%;
          border-radius: 3px;
          background-color: #a2a2a281;
        }

        &.is-active {
          height: 40px;

          .el-carousel__button {
            background: linear-gradient(
              to bottom,
              var(--sider-header-background-color2),
              var(--sider-header-background-color3)
            );
          }
        }
      }
    }

    .el-carousel__arrow {
      background-color: #00000063;
      padding: 22px;
      border-radius: 5px;
      z-index: 10;

      .el-icon {
        font-weight: bold;
        font-size: 2rem;
      }

      &:hover {
        background-color: #00000088;
      }
    }
  }
}
