.comment-item-child {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;

  & + .comment-item-child {
  }

  .comment-item-child-container {
    display: flex;
    width: 100%;

    .author {
      .author-image {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .right-side {
      flex-grow: 1;
      margin-left: 11px;

      .top {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        gap: 10px;

        .created-at {
          font-size: 1.3rem;
          color: var(--text-color-gray);
        }
      }

      .content {
        font-size: 1.4rem;
        margin-top: 5px;
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        .like-dislike {
          svg + svg {
            margin-left: 13px;
          }

          svg {
            cursor: pointer;
            font-size: 2rem;
            transition: all 0.15s;

            &:active {
              opacity: 0.8;
            }
          }

          .anticon + .anticon {
            margin-left: 13px;
            font-size: 2rem;
          }

          .anticon {
            transition: all 0.15s;

            svg {
              font-size: 1.9rem;
            }
          }
        }

        .ant-btn {
          font-size: 1.3rem;
          transition: all 0.15s;
          background-color: transparent;
          border: none;

          &:active {
            opacity: 0.8;
          }
        }
      }

      .comment-form {
        margin-top: 5px;
      }
    }
  }

  &:hover {
    .more-actions {
      .ant-btn {
        transition: all 0s;
        opacity: 1;
      }
    }
  }

  .more-actions {
    .ant-btn {
      background-color: transparent;
      border: none;
      opacity: 0;

      &:focus {
        opacity: 1;
      }

      svg {
        font-size: 1.8rem;
        cursor: pointer;
        transition: all 0.15s;

        &:active {
          opacity: 0.8;
        }
      }
    }
  }
}

.ant-dropdown.dropdown-item-viewmore {
  .ant-dropdown-menu {
    .main-action {
    }

    hr {
    }

    .danger-zone {
      .ant-dropdown-menu-item {
        &.remove-item {
          color: var(--text-danger-color);

          span,
          a {
            color: var(--text-danger-color);
          }
        }
      }
    }
  }

  .ant-dropdown-menu-item {
  }
}
