.comment-item-child {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;

  & + .comment-item-child {
  }

  .comment-item-child-container {
    display: flex;
    width: 100%;
    gap: 10px;

    .author {
      .author-image {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .right-side {
      flex-grow: 1;

      .top {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        gap: 10px;

        .created-at {
          font-size: 1.3rem;
          color: var(--text-color-gray);
        }
      }

      .content {
        font-size: 1.4rem;
        margin-top: 3px;
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 10px;

        .like-dislike {
          svg + svg {
            margin-left: 13px;
          }

          svg {
            cursor: pointer;
            font-size: 2rem;
            transition: all 0.15s;

            &:active {
              opacity: 0.8;
            }
          }
        }

        .ant-btn {
          font-size: 1.3rem;
          transition: all 0.15s;

          &:active {
            opacity: 0.8;
          }
        }
      }

      .comment-form {
        margin-top: 5px;
      }
    }
  }

  &:hover {
    .more-actions {
      .el-button {
        transition: all 0s;
        opacity: 1;
      }
    }
  }

  .more-actions {
    svg {
      font-size: 1.8rem;
      cursor: pointer;
      transition: all 0.15s;

      &:active {
        opacity: 0.8;
      }
    }

    .el-button {
      opacity: 0;
      color: var(--text-color);
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      transition: all 0.15s;

      &:hover,
      &:focus {
        border: 1px solid var(--border-regular-light);
        background: transparent !important;
      }

      &:active {
        border: 1px solid var(--border-regular-light);
      }
    }
  }
}

.ant-dropdown.dropdown-item-viewmore {
  .ant-dropdown-menu {
    .main-action {
    }

    hr {
    }

    .danger-zone {
      .ant-dropdown-menu-item {
        &.remove-item {
          color: #b90016;
          span,
          a {
            color: #b90016;
          }
        }
      }
    }
  }

  .ant-dropdown-menu-item {
  }
}
