.viewmore-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  height: 5em;
  border-bottom: 1px solid #fff;
  background-image: linear-gradient(
    0deg,
    var(--background-content-color) 0%,
    rgba(7, 7, 7, 0) 100%
  );

  .viewmore-btn {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px auto;
    padding: 10px;
    font-size: 1.7rem;
    background-color: var(--background-content-color1);
    border: 1px solid var(--btn-border-color);
    z-index: 1;
    transition: all 0.15s;

    i,
    svg {
      color: #fff;
      font-size: 2rem;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
