.require-auth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-result {
    .ant-result-extra {
      .ant-btn {
        max-height: 45px;
        border-radius: 3px;
        margin: 0px auto;
      }
    }
  }
}
