.body-content {
  &.expand {
    .el-carousel {
      .topic-item {
        .topic-item-body {
          left: var(--padding-home-expand);
        }
      }
    }
  }
}

.topic-item {
  position: relative;
  display: block;
  height: 100%;

  .ant-image,
  .el-image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  .topic-item-body {
    position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // left: 50px;
    left: var(--padding-home);
    bottom: 28%;
    color: #fff;
    z-index: 2;

    .info {
      .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 50%;

        & > div {
          margin-left: 20px;
          width: 100%;

          .release-date {
            font-size: 2rem;
          }

          .genres {
            font-size: 1.8rem;
            max-width: 100%;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
          }
        }
      }

      h1 {
        margin-top: 5px;
        color: #fff;
        font-size: 3.5rem;
        font-weight: bold;
        max-width: 50%;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
      }

      .overview {
        margin-top: 5px;
        font-size: 1.8rem;
        max-width: 50%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
      }
    }

    .action {
      margin-top: 25px;
      display: flex;
      flex-direction: row;

      a + a {
        margin-left: 10px;
      }

      .ant-btn {
        color: #fff;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: transparent;
        height: auto;
        padding: 9px 25px;
        font-size: 1.8rem;
        transition: all 0.15s;

        &.info,
        &.add {
          border-color: var(--border-regular);
          background-color: rgba(55, 55, 55, 0.3);

          &:hover {
            border-color: #c7c7c7;
            background-color: rgba(97, 97, 97, 0.4);
          }
        }

        &:hover {
          border-color: #c7c7c7;
        }

        &:active {
          opacity: 0.8;
        }

        svg {
          margin-right: 2px;
          font-size: 1.8rem;
        }

        svg.info {
          margin-right: 13px;
          font-size: 1.8rem;
        }

        svg.play {
          margin-left: -5px;
          margin-right: 6px;
          font-size: 3rem;
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 50%;
    width: 100%;
    background-image: linear-gradient(
      0deg,
      var(--background-content-color) 0%,
      rgba(7, 7, 7, 0) 100%
    );
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 36%;
    width: 100%;
    background-image: linear-gradient(
      0deg,
      var(--background-content-color) 0%,
      rgba(7, 7, 7, 0) 82%
    );
  }
}

@media only screen and (max-width: 1500px) {
  .body-content {
    .el-carousel {
      .topic-item {
        .topic-item-body {
          left: 15px;
          .info {
            .head {
              & > div {
                .release-date {
                  font-size: 1.8rem;
                }
                .genres {
                  font-size: 1.6rem;
                }
              }
            }
            h1 {
              font-size: 3rem;
            }
            .overview {
              font-size: 1.6rem;
            }
          }

          .action {
            .ant-btn {
              font-size: 1.6rem;
            }
          }
        }
      }
    }

    &.expand {
      .el-carousel {
        .topic-item {
          .topic-item-body {
            left: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .topic-item {
    img.pngegg {
      height: 50px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .topic-item {
    .topic-item-body {
      .info {
        h1 {
          font-size: 2.5rem;
        }

        .head {
          span {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .topic-item {
    img.pngegg {
      height: 40px;
    }

    .topic-item-body {
      .info {
        .overview {
          -webkit-line-clamp: 2;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .topic-item {
    .overview {
    }
  }
}
