.slider-group {
  position: relative;

  .slider-group-wrapper {
    position: relative;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 12px;
    gap: 10px;
  }

  .slider-button-next {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    z-index: 1;
    background-image: linear-gradient(90deg, #10101000 0, #101010 100%);
  }
}
