.cast-item {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  border-radius: 7px;
  height: 300px;
  overflow: hidden;

  .el-skeleton.is-animated {
    .img-box {
      width: 100%;
      height: 0px !important;
      padding-bottom: 130%;
      transition: all 0.3s;
      overflow: hidden;

      .el-skeleton__item.skeleton-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity 0.3s;
        object-fit: cover;
      }
    }

    .content-skeleton {
      margin-top: 10px;

      .el-skeleton__item.el-skeleton__text {
        // height: 18px;
      }
    }
  }

  .img-box {
    position: relative;
    width: 100%;
    overflow: hidden;

    .ant-image {
      display: block;
      width: 100%;
      height: 0px !important;
      padding-bottom: 130%;
      transition: all 0.3s;
      overflow: hidden;

      img {
        width: 100%;
        transition: opacity 0.3s;
        object-fit: cover;

        &[lazy='error'] {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url('/images/svgs/error-user.svg');
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }

  .info {
    padding: 10px 10px;
    border: 1px solid var(--border-regular);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: none;
    flex-grow: 1;

    .name,
    .character,
    .job {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .character,
    .job {
      line-height: 1.2;
      color: #a4a4a4;
    }
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    .duration-episode-box {
      background-size: 200% 100%;
      background-position: -50px center;
    }

    .release-date-box {
      background-size: 200% 100%;
      background-position: -45px center;
    }

    .info {
      color: #fff;
    }
  }

  .info {
    // padding: 0px 0px !important;
    color: #d0d0d0;

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
