.like-share {
  a {
    display: inline-block;
    white-space: nowrap;
    min-height: 40px;

    .ant-btn {
      font-size: 0.9vw;
      // padding: 0.35vw 1vw;
      padding: 0.35vw 0.7vw;

      svg {
        font-size: 1.4vw;
        margin-right: 0.5vw;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .like-share {
    a {
      height: 40px;

      .ant-btn {
        font-size: 1.5rem;

        svg {
          font-size: 2.1rem;
          margin-right: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .like-share {
    a {
      .ant-btn {
        padding: 9px 10px;
      }
    }
  }
}
