.movie-info-conainer {
  .main-info {
    display: flex;
    // gap: 15px;
  }

  .backdrop-img {
    position: relative;
    height: 0px !important;
    padding-bottom: 56.25%;
    width: 100%;

    .backdrop-wrapper {
      position: relative;
      width: 100%;
      // overflow: hidden;
      z-index: 1;

      .ant-image {
        height: 100%;
        width: 100%;
        object-fit: cover;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-image: linear-gradient(
          35deg,
          var(--background-content-color) 0%,
          rgba(7, 7, 7, 0) 70%
        );
        // background-image: linear-gradient(35deg, red 0%, rgba(7, 7, 7, 0) 70%);
        // box-shadow: inset 25vw -4vw 10px 10px var(--background-content-color);
        // border-radius: 50%;
        width: 100%;
        height: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-image: linear-gradient(
          35deg,
          var(--background-content-color) 0%,
          rgba(7, 7, 7, 0) 70%
        );
        // background-image: linear-gradient(35deg, red 0%, rgba(7, 7, 7, 0) 70%);
        width: 100%;
        height: 100%;
      }
    }

    .poster-img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    .overlay-backdrop {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 110%;
      height: 110%;
      z-index: 0;
      transform: translateX(-50%) translateY(-50%);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        filter: blur(150px);
        // border-radius: 23%;
      }
    }
  }

  .info-movie {
    padding: 0px 0px 10px 0px;
    color: #fff;
    z-index: 1;

    h2,
    h3 {
      color: #fff;
    }

    .widget {
      margin-top: 14px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .widget-2 {
        display: flex;
        gap: 10px;
      }

      // .btn-play-now ,
      .btn-add-to-list,
      .btn-trailer {
        // margin-right: 7px;
        // margin-top: 7px;
        color: #fff;
        padding: 10px 15px;
        border-radius: 3px;
        transition: all 0.3s;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
        text-align: center;

        svg,
        .material-icons-outlined {
          margin-right: 3px;
        }

        svg.icon {
          font-size: 2.6rem;
        }
      }

      .btn-play-now {
        background-color: #006b8f;

        &:hover {
          background-color: #006b8fb0;
        }
      }

      .btn-trailer {
        background-color: #db0832;

        &:hover {
          background-color: #db0832be;
        }
      }

      .btn-add-to-list {
        // background-color: #505050;
        background-color: #006999;

        &.active {
          background-color: #006d4e;

          &:hover {
            background-color: #006d4ebd;
          }
        }

        &:hover {
          // background-color: #505050a9;
          background-color: #006999bb;
        }
      }
    }

    .misc {
      margin-top: 15px;

      p {
        line-height: 1.7;
      }

      label {
        font-weight: bold;
      }

      a {
        &:hover {
        }
      }
    }
  }

  .movie-content {
    position: relative;
    padding: 0px 10px;
    text-align: justify;
    color: #fff;
    z-index: 1;

    p {
    }

    p:not(.open) {
      position: relative;
      text-overflow: ellipsis;
      max-height: 100px;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(
          to top,
          rgba(10, 10, 10, 0.9),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.3)
        );

        height: 20px;
      }
    }

    .toggle-content {
      position: relative;
      cursor: pointer;
      display: inline-block;
      user-select: none;
      z-index: 1;

      strong {
        display: block;
      }

      &:hover {
        color: #494949;
      }
    }
  }

  .trailer-youtube {
    display: none;

    iframe {
      height: 82vh;
    }

    &.active {
      display: block;
    }
  }

  .widget-skeleton {
    margin-top: 15px;

    .ant-skeleton:not(:last-child) {
      margin-right: 7px;
    }

    .ant-skeleton {
      margin-bottom: 7px;
      .ant-skeleton-button {
        padding: 24px 63px;
      }
    }
  }

  .skeleton-interaction {
    margin-top: 15px;
    .ant-skeleton-button {
      padding: 17px 50px;
      border-radius: 32px;
    }
  }
}
