.movie-info {
  .info-conainer {
    position: relative;

    .backdrop-img {
      position: relative;
      height: 0px !important;
      padding-bottom: 56.25%;
      width: 100%;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(
          0deg,
          var(--background-content-color) 0%,
          rgba(7, 7, 7, 0) 100%
        );
        // background-image: linear-gradient(0deg, red 0%, rgba(7, 7, 7, 0) 100%);
      }

      .backdrop-wrapper {
        position: relative;
        width: 100%;
        // overflow: hidden;
        z-index: 1;

        .ant-image {
          height: 100%;
          width: 100%;
          object-fit: cover;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            35deg,
            var(--background-content-color) 0%,
            rgba(7, 7, 7, 0) 70%
          );
          // background-image: linear-gradient(35deg, red 0%, rgba(7, 7, 7, 0) 70%);
          // box-shadow: inset 25vw -4vw 10px 10px var(--background-content-color);
          // border-radius: 50%;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            35deg,
            var(--background-content-color) 0%,
            rgba(7, 7, 7, 0) 70%
          );
        }
      }

      .poster-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 200px;
        box-shadow: var(--box-shadow-medium);

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .overlay-backdrop {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110%;
        height: 110%;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.5;
          filter: blur(150px);
          // border-radius: 23%;
        }
      }
    }

    .movie-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      max-width: 1400px;
      margin: 0px auto;
      padding: 20px 30px;

      .head-content {
        .movie-title {
          font-weight: 600;
        }

        .action {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            // gap: 15px;
            gap: 0.7vw;
            margin-top: 15px;
            margin-bottom: 20px;

            a {
              min-height: 40px;
            }

            .ant-btn {
              font-size: 0.9vw;
              padding: 0.35vw 1.2vw;

              svg {
                // margin-right: 7px;
                // font-size: 1.8rem;
                margin-right: 0.4vw;
                font-size: 1.1vw;
              }

              &.add,
              &.trailer {
                border-color: var(--border-regular);
                background-color: rgba(55, 55, 55, 0.3);
              }

              svg.play {
                margin-left: -5px;
                // font-size: 3rem;
                font-size: 1.6vw;
              }

              svg.trailer {
                margin-right: 0.6vw;
              }

              &.add {
                svg {
                  margin-left: -5px;
                  // font-size: 2.5rem;
                  font-size: 1.3vw;
                }
              }

              &:hover {
                border-color: var(--btn-border-color-hover);
                background-color: rgba(97, 97, 97, 0);
              }
            }
          }

          .right {
            display: flex;
            align-items: center;
          }
        }
      }

      .main-content {
        display: flex;
        gap: 10vw;
        justify-content: space-around;

        .detail-content-left {
          max-width: 65%;

          .overview {
            .text {
              // display: block;
              // text-align: justify;
            }
          }
        }

        .detail-content-right {
          max-width: 35%;
          margin-top: 55px;

          .tags + .tags {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .trailer-youtube {
    display: none;

    iframe {
      height: 82vh;
    }

    &.active {
      display: block;
    }
  }

  .widget-skeleton {
    margin-top: 15px;

    .ant-skeleton:not(:last-child) {
      margin-right: 7px;
    }

    .ant-skeleton {
      margin-bottom: 7px;
      .ant-skeleton-button {
        padding: 24px 63px;
      }
    }
  }

  .skeleton-interaction {
    margin-top: 15px;
    .ant-skeleton-button {
      padding: 17px 50px;
      border-radius: 32px;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .movie-info {
    .info-conainer {
      .movie-content {
        .head-content {
          .action {
            .left {
              a {
                height: 40px;
              }

              .ant-btn {
                font-size: 1.5rem;

                svg {
                  margin-right: 7px;
                  font-size: 1.9rem;
                }

                svg.play {
                  margin-left: -7px;
                  font-size: 2.8rem;
                }

                svg.trailer {
                  margin-right: 9px;
                }

                &.add {
                  svg {
                    margin-left: -7px;
                    font-size: 2.3rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .movie-info {
    .info-conainer {
      .movie-content {
        .head-content {
          .action {
            .left {
              .ant-btn {
                padding: 9px 20px;
              }
            }
          }
        }
      }
    }
  }
}
