.require-auth-dialog {
  max-width: 600px;
  min-width: 600px;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #000000ba, 0 6px 16px 0 #00000098,
    0 9px 28px 8px #00000077;
  background-color: var(--background-content-color1);

  .el-dialog__header {
    position: relative;
  }

  .ant-modal-close {
    svg {
      top: 3px;
      right: 5px;
    }
  }

  .el-dialog__body {
    padding-bottom: 10px;

    .ant-result {
      padding: 0px 20px;

      .ant-result-title {
        padding: 0px 20px;
        line-height: inherit;
      }

      .ant-result-image {
        height: 235px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .el-dialog__footer {
    display: flex;
    padding-bottom: 40px;
    gap: 15px;
    justify-content: center;

    .ant-btn {
      padding: 10px 50px;
      border-radius: 3px;
      transition: all 0.3s;
    }
  }

  .ant-modal-content {
    .ant-modal-close {
      .ant-modal-close-x {
        height: auto;
        width: auto;

        .icon.close {
          top: 7px;
        }
      }
    }

    .ant-modal-body {
      padding-top: 50px;

      .ant-result {
        padding: 0px 20px;

        .ant-result-title {
          padding: 0px 20px;
          line-height: inherit;
          color: #fff;
        }

        .ant-result-image {
          height: 235px;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .ant-modal-footer {
      display: flex;
      padding-bottom: 40px;
      gap: 15px;
      justify-content: center;
      border: none;

      .ant-btn {
        padding: 10px 50px;
        max-height: 45px;
        border-radius: 3px;
      }
    }
  }
}
