.comment-item {
  position: relative;
  display: flex;
  flex-direction: column;

  & + .comment-item {
    margin-top: 10px;
  }

  .comment-item-container {
    display: flex;
    width: 100%;
    gap: 13px;

    & > .author {
      .author-image {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    & > .right-side {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .right-side-wrapper {
        display: flex;
        flex-direction: row;

        &:hover {
          .more-actions {
            .ant-btn {
              transition: all 0s;
              opacity: 1;
            }
          }
        }

        .content-comment-box {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          .main-comment-content {
            width: 100%;

            .top {
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              gap: 10px;

              .created-at {
                font-size: 1.3rem;
                color: var(--text-color-gray);
              }
            }

            .content {
              font-size: 1.4rem;
              margin-top: 5px;
            }

            .actions {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-top: 7px;

              .like-dislike {
                svg + svg {
                  margin-left: 13px;
                }

                svg {
                  cursor: pointer;
                  font-size: 2rem;
                  transition: all 0.15s;

                  &:active {
                    opacity: 0.8;
                  }
                }

                .anticon + .anticon {
                  margin-left: 13px;
                  font-size: 2rem;
                }

                .anticon {
                  transition: all 0.15s;

                  svg {
                    font-size: 1.9rem;
                  }
                }
              }

              .ant-btn {
                font-size: 1.3rem;
                transition: all 0.15s;
                background-color: transparent;
                border: none;

                &:active {
                  opacity: 0.8;
                }
              }
            }
          }
        }

        .more-actions {
          .ant-btn {
            background-color: transparent;
            border: none;
            opacity: 0;

            &:focus {
              opacity: 1;
            }

            svg {
              font-size: 1.8rem;
              cursor: pointer;
              transition: all 0.15s;

              &:active {
                opacity: 0.8;
              }
            }
          }
        }
      }

      .comment-form {
        margin-top: 5px;
      }

      .loading-replies {
        padding: 5px 50px;
      }

      .replies {
        margin-top: 3px;

        & > .ant-btn.reply {
          display: flex;
          align-items: center;
          height: auto;
          padding: 0px;
          color: var(--link-text-color);
          font-size: 1.4rem;
          border: none;
          background-color: transparent;

          svg.caret {
            margin-right: 5px;
            font-size: 2.8rem;

            &.active {
              transform: rotate(180deg);
            }
          }

          &:active {
            opacity: 0.8;
          }
        }

        .list-replies {
          // height: 0px;
          // overflow: hidden;

          // &.show {
          //   height: auto;
          //   overflow: visible;
          // }

          .load-more {
            margin: 8px 0px;
            padding-left: 13px;

            .ant-btn {
              display: flex;
              align-items: center;
              height: auto;
              padding: 0px;
              color: var(--link-text-color);
              border: none;
              background-color: transparent;

              svg {
                margin-right: 5px;
                font-size: 2.2rem;
                width: 2.2rem;
                height: 2.2rem;
              }

              &:active {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}

.ant-dropdown.dropdown-item-viewmore {
  .ant-dropdown-menu {
    .main-action {
    }

    hr {
    }

    .danger-zone {
      .ant-dropdown-menu-item {
        &.remove-item {
          color: var(--text-danger-color);

          span,
          a {
            color: var(--text-danger-color);
          }
        }
      }
    }
  }

  .ant-dropdown-menu-item {
  }
}
