.change-page.password {
  font-size: 1.6rem;

  .password-container {
    padding-top: 20px;

    .changePass-header {
      margin-bottom: 20px;

      h1 {
        margin-bottom: 10px;
      }
    }

    .form-change-password {
      max-width: 450px;

      .ant-row.ant-form-item {
        .ant-col.ant-form-item-control {
          .ant-input-affix-wrapper {
            padding: 8px 11px;
          }
        }
      }

      .submit-form-button {
        margin-top: 30px;
        width: 100%;

        &:not(:disabled) {
          background-color: var(--app-background-color);
        }
      }
    }

    .verify-form-container {
      margin: 0px;
      min-height: auto;
      height: auto;
      width: auto;
      max-width: 450px;

      .back-btn {
      }

      .verify-form {
        padding: 0px;
        padding-top: 50px;

        .title-verify {
          text-align: left;

          h1 {
            margin-bottom: 10px;
          }

          strong {
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .change-page.password {
    font-size: 1.5rem;

    .password-container {
      .changePass-header {
        h1 {
          font-size: 2.7rem;
        }
      }
    }
  }
}
