.change-page {
  font-size: 1.6rem;

  .password-container {
    padding-top: 20px;

    .changePass-header {
      margin-bottom: 20px;

      h1 {
        margin-bottom: 15px;
      }
    }

    .form-change-password {
      max-width: 450px;

      .ant-row.ant-form-item {
        .ant-col.ant-form-item-control {
          .ant-input-affix-wrapper {
            padding: 8px 11px;
          }
        }
      }

      .submit-form-button {
        margin-top: 30px;
        width: 100%;

        &:not(:disabled) {
          background-color: var(--app-background-color);
        }
      }
    }
  }
}
