.list-episodes {
  position: relative;

  .control-episodes {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    .el-button {
      height: 36px;
      background-color: #006999;
      color: #fff;
      min-width: 91px;

      &:hover {
        background-color: #006999bb;
      }

      &:disabled {
        background-color: #313131bb;
        color: #4e4e4e;
      }
    }
  }

  .list {
    .el-skeleton.is-animated {
      padding-top: 7px;
      width: auto !important;

      .el-skeleton__item.el-skeleton__button {
        display: inline-block;
        margin-right: 7px;
        min-width: 70px;
        padding: 8px 23px;
      }
    }

    ul.list-container {
      width: 100%;
      list-style-type: none;
      max-height: 275px;
      overflow-y: scroll;

      li {
        display: inline-block;
        margin-top: 7px;
        margin-right: 7px;

        a {
          display: inline-block;
          min-width: 70px;
          // max-width: 75px;
          text-align: center;
          padding: 8px 23px;
          color: var(--text-color);
          border-radius: 3px;
          transition: all 0.3s;
          user-select: none;

          background: linear-gradient(to right, #2f2f2f, #101010);
          // background-size: 200% 100%;

          // background-image: linear-gradient(
          //   to right,
          //   #006a88,
          //   var(--app-background-color2),
          //   var(--app-background-color1)
          // );
          // background-size: 200% 100%;

          // &:hover {
          //   background-size: 200% 100%;
          //   // background-position: -65px center;
          //   background-position: 100% center;
          // }
        }

        &.active {
          a {
            background: var(--app-background-color);
            // transition: all 0.7s ease;
            // animation: episode-fade-out 2s infinite linear;
          }

          @keyframes episode-fade-out {
            0% {
              box-shadow: 0 0 0 0 #006a88;
            }
            40% {
              box-shadow: 0 0 0 5px #004b5f;
            }
            80% {
              box-shadow: 0 0 0 5px #003746;
            }
            100% {
              box-shadow: 0 0 0 5px #001d25;
            }
          }
        }
      }
    }
  }
}
