.carousel-group {
  // overflow: visible;
  position: relative;

  .owl-carousel,
  .swiper-wrapper {
    .swiper-slide:hover,
    .owl-item:hover {
      z-index: 1;
    }

    .movie-card-vertical-item,
    .movie-card-horizontal-item {
      .detail-flow {
        // top: 50%;
        // right: 12px;
        // transform: translateX(-1%) translateY(-50%) scale(1.1);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(1.1);
      }
    }

    .owl-dots {
      position: absolute;
      top: -55px;
      right: 0;
      z-index: -1;

      .owl-dot {
        span {
          //   border-radius: 0px;
        }

        &.active {
        }
      }
    }
  }

  &:hover {
    .owl-prev,
    .owl-next,
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;

      &.swiper-button-disabled {
        opacity: 0;
      }
    }
  }

  .owl-prev,
  .owl-next,
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    top: auto;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    width: auto;
    opacity: 0;
    transition: 0.15s all;

    i,
    svg {
      font-size: 35px;
      transition: 0.2s all;
      color: #d3d3d3;
    }

    &:hover {
      i,
      svg {
        // font-size: 35px;
        // color: #007ea5;
        color: #fff;
        transform: scale(1.2);
      }
    }

    &:active {
      i,
      svg {
        opacity: 0.7;
      }
    }

    &.swiper-button-disabled {
      opacity: 0;
    }
  }

  .owl-prev,
  .swiper-button-prev {
    background-image: linear-gradient(90deg, #050505 0, #05050500 100%);
    left: -10px;
  }

  .owl-next,
  .swiper-button-next {
    background-image: linear-gradient(90deg, #05050500 0, #050505 100%);
    right: -10px;
  }
}

@media only screen and (max-width: 900px) {
  .carousel-group {
    .owl-prev {
      left: -10px;
    }

    .owl-next {
      right: -10px;
    }
  }
}

.swiper.swiper-initialized.swiper-horizontal {
  // overflow: visible;

  // .swiper-wrapper {
  //   .swiper-slide {
  //     .movie-card-vertical-item,
  //     .movie-card-horizontal-item {
  //       .detail-flow {
  //         // top: 50%;
  //         // right: 12px;
  //         // transform: translateX(-1%) translateY(-50%) scale(1.1);
  //         top: 50%;
  //         left: 50%;
  //         transform: translateX(-50%) translateY(-50%) scale(1.1);
  //       }
  //     }
  //   }
  // }

  // &:hover {
  //   .swiper-button-prev,
  //   .swiper-button-next {
  //     z-index: 1;
  //     opacity: 1;
  //   }
  // }

  // .swiper-button-prev,
  // .swiper-button-next {
  //   top: auto;
  //   bottom: 0;
  //   height: 100%;
  //   padding: 0px 10px;
  //   transition: 0.15s all;
  //   z-index: -1;
  //   opacity: 0;
  //   display: flex;
  //   align-items: center;
  //   width: auto;

  //   svg {
  //     color: #d3d3d3;
  //     font-size: 3rem;
  //   }

  //   &.swiper-button-disabled {
  //     // z-index: -1;
  //     opacity: 0;
  //   }
  // }

  // .swiper-button-prev {
  //   left: -30px;
  //   background-image: linear-gradient(90deg, #050505 0, #05050500 100%);
  // }

  // .swiper-button-next {
  //   right: -30px;
  //   background-image: linear-gradient(90deg, #05050500 0, #050505 100%);
  // }
}
