.control-page {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .el-pagination {
    .btn-prev {
      background-color: transparent;
    }

    .btn-next {
      background-color: transparent;
    }

    .el-pager {
      li.number {
        background-color: transparent;

        &.is-active {
          background-color: rgb(46, 46, 46);
        }
      }
    }
  }

  .pagination {
    font-size: 1.6rem;

    .ant-pagination-prev,
    .ant-pagination-next {
      background-color: transparent;
      border: none;

      .ant-pagination-item-link {
        background-color: transparent;
        border: none;
        color: var(--text-color);

        &:hover {
          color: #fff;
        }
      }

      &.ant-pagination-disabled {
        display: none;
      }
    }

    .ant-pagination-item {
      background-color: transparent;
      border: none;

      a {
        color: var(--text-color);

        &:hover {
          color: #fff;
        }
      }

      &.ant-pagination-item-active {
        background-color: var(--btn-backgroud-color-gray);

        a {
          color: var(--link-text-color);
        }
      }
    }
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      svg {
        color: var(--text-color);
      }

      .ant-pagination-item-ellipsis {
        color: var(--text-color-gray);
      }
    }
  }
}
