@media only screen and (min-width: 2300px) {
  .discover-section.collapsed {
    grid-template-columns: repeat(9, minmax(10%, auto)) !important;
  }
  .discover-section {
    grid-template-columns: repeat(8, minmax(10%, auto)) !important;
  }
}

@media only screen and (max-width: 2300px) {
  .discover-section.collapsed {
    grid-template-columns: repeat(9, minmax(10%, auto)) !important;
  }
  .discover-section {
    grid-template-columns: repeat(8, minmax(10%, auto)) !important;
  }
}

@media only screen and (max-width: 2100px) {
  .discover-section.collapsed {
    grid-template-columns: repeat(8, minmax(10%, auto)) !important;
  }
  .discover-section {
    grid-template-columns: repeat(7, minmax(10%, auto)) !important;
  }
}

@media only screen and (max-width: 2000px) {
  .discover-section.collapsed {
    grid-template-columns: repeat(6, minmax(13%, auto)) !important;
  }
  .discover-section {
    grid-template-columns: repeat(6, minmax(15%, auto)) !important;
  }
}

@media only screen and (max-width: 1700px) {
  .discover-section.collapsed {
    grid-template-columns: repeat(6, minmax(230px, auto)) !important;
  }
  .discover-section {
    grid-template-columns: repeat(5, minmax(15%, auto)) !important;
  }
}

@media only screen and (max-width: 1550px) {
  .discover-section.collapsed {
    grid-template-columns: repeat(5, minmax(230px, auto)) !important;
  }
  .discover-section {
    grid-template-columns: repeat(5, minmax(15%, auto)) !important;
  }
}

@media only screen and (max-width: 1400px) {
  .discover-section.collapsed {
    grid-template-columns: repeat(5, minmax(230px, auto)) !important;
  }
  .discover-section {
    grid-template-columns: repeat(4, minmax(23%, auto)) !important;
  }
}

@media only screen and (max-width: 1010px) {
  .discover-section {
    grid-template-columns: repeat(3, minmax(170px, auto)) !important;
  }
}

@media only screen and (max-width: 860px) {
  .discover-section {
    grid-template-columns: repeat(3, minmax(160px, auto)) !important;
  }
}

@media only screen and (max-width: 615px) {
  .discover-section {
    grid-template-columns: repeat(2, minmax(50%, auto)) !important;
  }
}

@media only screen and (max-width: 435px) {
  .discover-section {
    grid-template-columns: repeat(2, minmax(150px, auto)) !important;
  }

  .movie-carousel-horizontal-item {
    .ant-image {
      height: 110px !important;
    }
  }
}

.discover-container {
  .discover-head {
    .gradient-title-default {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .discover-section {
  }

  .ant-radio-group.tabs-search,
  .el-radio-group.tabs-search {
    margin-bottom: 5px !important;
  }

  .control-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
