.body-content {
  &.expand {
    .el-carousel {
      .billboard-item {
        .billboard-item-body {
          left: var(--padding-home-expand);
        }
      }
    }
  }
}

.billboard-item {
  position: relative;
  display: block;
  height: 100%;

  .ant-image,
  .el-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }

  .billboard-item-body {
    position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // left: 50px;
    left: var(--padding-home);
    bottom: 28%;
    color: #fff;
    z-index: 2;

    .info {
      .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 50%;

        .pngegg {
          height: 3.5vw;
        }

        & > div {
          margin-left: 20px;
          width: 100%;

          .release-date {
            // font-size: 2rem;
            font-size: 1.15vw;
          }

          .genres {
            // font-size: 1.8rem;
            font-size: 1vw;
            max-width: 100%;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
          }
        }
      }

      h1 {
        margin-top: 5px;
        color: #fff;
        // font-size: 3.5rem;
        font-size: 2vw;
        font-weight: bold;
        max-width: 50%;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
      }

      .overview {
        margin-top: 5px;
        // font-size: 1.8rem;
        font-size: 1vw;
        max-width: 50%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
      }
    }

    .action {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      // gap: 15px;
      gap: 0.7vw;

      a + a {
        // margin-left: 15px;
      }

      a {
        // height: 45px;
        // height: 2.4vw;
        min-height: 40px;
      }

      .ant-btn {
        color: #fff;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: transparent;
        height: 100%;
        // padding: 9px 27px;
        // font-size: 1.8rem;
        padding: 0.35vw 1.5vw;
        font-size: 1vw;
        transition: all 0.15s;

        &.info,
        &.add {
          border-color: var(--border-regular);
          background-color: rgba(55, 55, 55, 0.3);

          &:hover {
            border-color: var(--btn-border-color-hover);
            background-color: rgba(97, 97, 97, 0.4);
          }
        }

        svg {
          // margin-right: 7px;
          // font-size: 1.8rem;
          margin-right: 0.4vw;
          font-size: 1.1vw;
        }

        &:hover {
          border-color: var(--btn-border-color-hover);
          background-color: rgba(97, 97, 97, 0);
        }

        &:active {
          opacity: 0.8;
        }

        svg.info {
          // margin-right: 14px;
          // font-size: 1.8rem;
          margin-right: 0.8vw;
          font-size: 1.1vw;
        }

        svg.play {
          margin-left: -5px;
          // font-size: 3rem;
          font-size: 1.8vw;
        }

        &.add {
          svg {
            margin-left: -7px;
            // font-size: 2.5rem;
            font-size: 1.4vw;
          }
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 50%;
    width: 100%;
    background-image: linear-gradient(
      0deg,
      var(--background-content-color) 0%,
      rgba(7, 7, 7, 0) 100%
    );
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 36%;
    width: 100%;
    background-image: linear-gradient(
      0deg,
      var(--background-content-color) 0%,
      rgba(7, 7, 7, 0) 82%
    );
  }
}

@media only screen and (max-width: 1500px) {
  .billboard-item {
    .billboard-item-body {
      left: 15px;
      .info {
        .head {
          & > div {
            .release-date {
              font-size: 1.8rem;
            }
            .genres {
              font-size: 1.6rem;
            }
          }
        }
        h1 {
          font-size: 3rem;
        }
        .overview {
          font-size: 1.6rem;
        }
      }

      .action {
        gap: 10px;

        .ant-btn {
          font-size: 1.6rem;

          svg {
            margin-right: 7px;
            font-size: 1.8rem;
          }
          svg.info {
            margin-right: 14px;
            font-size: 1.8rem;
          }

          svg.play {
            margin-left: -5px;
            font-size: 3rem;
          }

          &.add {
            svg {
              margin-left: -7px;
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }

  .body-content {
    &.expand {
      .el-carousel {
        .billboard-item {
          .billboard-item-body {
            left: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .billboard-item {
    .billboard-item-body {
      .info {
        .head {
          img.pngegg {
            height: 50px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .billboard-item {
    .billboard-item-body {
      .action {
        a {
          height: 40px;
        }

        .ant-btn {
          font-size: 1.4rem;
          padding: 9px 20px;
        }
      }
    }
  }

  .body-content {
    &.expand {
      .el-carousel {
        .billboard-item {
          .billboard-item-body {
            .action {
              a {
                height: 40px;
              }

              .ant-btn {
                font-size: 1.5rem;
                padding: 9px 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .billboard-item {
    .billboard-item-body {
      .info {
        h1 {
          font-size: 2.5rem;
        }

        .head {
          span {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .billboard-item {
    .billboard-item-body {
      .info {
        .overview {
          -webkit-line-clamp: 2;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .billboard-item {
    .billboard-item-body {
      .info {
        .head {
          img.pngegg {
            height: 40px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .billboard-item {
    .billboard-item-body {
      bottom: 25px;

      .info {
        h1 {
          font-size: 2rem;
        }

        .head {
          & > div {
            .release-date {
              font-size: 1.4rem;
            }

            .genres {
              -webkit-line-clamp: 1;
            }
          }
        }
      }

      .action {
        margin-top: 15px;
        a {
          height: 35px;
        }

        a + a {
          // margin-left: 10px;
        }

        .ant-btn {
          font-size: 1.4rem;
          padding: 9px 18px;
        }
      }
    }
  }
}
