.icon.close {
  position: absolute;
  padding: 5px;
  font-size: 4rem;
  top: 10px;
  right: 0;
  transition: 0.25s;
  cursor: pointer;
  background-color: #07070785;
  border-radius: 50%;

  &:active {
    opacity: 0.8;
  }

  &.transparent {
    background-color: transparent;
  }
}
