.el-message-box-parent--hidden {
  width: 100% !important;
}

.rc-virtual-list-scrollbar {
  display: none;
}

.el-skeleton {
  // --el-skeleton-color: rgba(190, 190, 190, 0.2) !important;
  // --el-skeleton-to-color: rgba(129, 129, 129, 0.24) !important;
  --el-skeleton-color: rgba(70, 70, 70) !important;
  --el-skeleton-to-color: rgba(60, 60, 60) !important;
}

.el-image__wrapper,
.el-image__error {
  color: var(--text-color);
  background-color: #3a3a3a !important;

  .el-image__placeholder {
    background-color: var(--background-content-color) !important;
  }
}

.el-select {
  border: 1px solid var(--border-dropdown);

  .el-input__wrapper {
    &.is-focus {
      box-shadow: none !important;
    }
  }

  .el-input {
    .el-input__wrapper {
      box-shadow: none !important;
      border-radius: 0px;
    }

    &.is-focus {
      .el-input__wrapper {
        // box-shadow: 0 0 0 1px #fff !important;

        &.is-focus {
          box-shadow: 0 0 0 1px #a0a0a0 !important;
        }
      }
    }
  }

  .el-input__wrapper {
    box-shadow: none;
    color: var(--text-color);
  }
}

.el-select-dropdown {
  border-radius: 2px !important;
  // border: 0.1px solid var(--border-regular-light);
}

.el-overlay {
  font-weight: unset;
}

.el-popup-parent--hidden {
  // width: 100% !important;
  // overflow: visible !important;
}

#el-popper-container-1024 {
  .el-popper {
    border-radius: 1px;
    background-color: var(--background-content-color);

    a {
      color: var(--text-color);
    }

    .el-popper__arrow {
      display: none;
    }
  }

  .el-menu--popup-container.sub-menu-popover {
    max-height: 100vh;
    overflow-y: auto;

    .el-menu.el-menu--popup {
      --el-menu-hover-bg-color: var(--menu-item-background-color) !important;
      --el-menu-item-height: var(--menu-item-height) !important;
      --el-menu-sub-item-height: var(--menu-item-height) !important;

      .el-menu-item {
        a {
          color: var(--menu-text-color);
        }

        &:hover {
          a {
            color: var(--menu-active-text-color);
          }
        }
      }
    }
  }
}

.el-popper.el-tooltip {
  background-color: var(--tooltip-background-color) !important;
  border: none !important;
  // padding: 10px 18px;
  padding: 7px 15px;
  box-shadow: var(--box-shadow-small);
  width: max-content;
  max-width: 250px;
  transition: opacity 0.15s ease-in-out;
  line-height: 1.5;
  border-radius: 2px;

  & > span {
    font-size: 1.4rem;
  }

  .el-popper__arrow {
    &::before {
      width: 9px;
      height: 9px;
      border: none !important;
      background-color: var(--tooltip-background-color) !important;
    }
  }
}

.el-message--success {
  --el-message-bg-color: var(--background-content-color1) !important;
  box-shadow: var(--box-shadow-medium) !important;
}

.el-notification {
  background-color: var(--background-content-color1) !important;
  border: none !important;
  box-shadow: var(--box-shadow-medium) !important;
  border-radius: 2px;

  .el-notification__group {
    .el-notification__content {
      text-align: left;
    }
  }
}

.el-loading-mask {
  .el-loading-spinner {
    margin-top: 0px;
    transform: translateY(-50%);
    user-select: none;

    svg.circular {
      height: 35px;
      width: 35px;
    }

    svg .path {
      stroke: var(--loading-app-color);
    }

    .el-loading-text {
      font-size: 1.4rem;
      margin: 0px;
      stroke: var(--loading-app-color);
    }
  }
}
