.search-container {
  .gradient-title-default {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-section {
    .control-page {
      display: flex;
      justify-content: center;
    }
  }
}
