header.header-bar-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(to bottom, #000 0, #00000000 100%);

  .left-header {
    display: flex;
    align-items: center;

    .logo {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 2.25rem;
      }
    }
  }

  .right-header {
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;

    a {
      font-size: 1.7rem;
      color: var(--app-background-color) !important;
    }

    .signup-suggest {
      .signup-note {
        align-self: flex-end;
        white-space: nowrap;
        font-size: 1.3rem;
        margin-right: 5px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  header.header-bar-auth {
    padding-left: 20px;
    padding-right: 20px;

    .left-header {
      .logo {
        a {
        }
      }
    }

    .right-header {
      a {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  header.header-bar-auth {
    .left-header {
      .logo {
        a {
          font-size: 2.1rem;
        }
      }
    }

    .right-header {
    }
  }
}

@media only screen and (max-width: 650px) {
  header.header-bar-auth {
    padding-left: 15px;
    padding-right: 15px;

    .left-header {
      .logo {
      }
    }

    .right-header {
    }
  }
}

@media only screen and (max-width: 450px) {
  header.header-bar-auth {
    .left-header {
      .logo {
      }
    }

    .right-header {
      .signup-suggest {
        .signup-note {
          display: block;
          margin-right: 0px;
        }
      }
    }
  }
}
