.app-wrapper {
  overflow: hidden;
}

.app-back-top {
  align-items: center;
  justify-content: center;
  bottom: 30px !important;
  right: 20px !important;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: var(--background-content-color1);
  color: var(--text-color);
  font-size: 2rem;
  // font-size: 3rem;
  box-shadow: var(--box-shadow-small) !important;
  transition: all 0.15s;

  &:active {
    opacity: 0.8;
  }
}

@media only screen and (max-width: 1000px) {
  .app-back-top {
    height: 40px;
    width: 40px;
    bottom: 30px;
    right: 20px;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 680px) {
  .app-back-top {
    height: 35px;
    width: 35px;
    bottom: 20px;
    right: 15px;
    font-size: 1.6rem;
  }
}
