@media only screen and (max-width: 500px) {
  .image-auth:not(.image-auth.responsive) {
    display: none;
  }

  .image-auth.responsive {
    display: block !important;
  }
}

.auth-container {
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  .image-auth {
    height: 100vh;
    width: 100%;
    position: absolute;
  }

  .image-auth.responsive {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
    object-fit: cover;
  }
}
