.body-content {
  display: flex;
  position: relative;
  min-height: calc(100vh - var(--header-height));
  margin-left: var(--sider-width);
  margin-top: var(--header-height);
  // transition: all 0.2s;
  // overflow: hidden;

  .body-wrapper {
    flex: auto;
    position: relative;
    display: flex;
    max-width: var(--max-width-app);
    margin: 0px auto;
  }

  &.expand {
    margin-left: var(--sider-collapsed-width);
  }

  main.main-content {
    display: flex;
    flex: auto;
    width: 0;
    flex-direction: column;

    & > .container {
      // padding: 15px 20px;
      padding-bottom: 50px;
      flex-grow: 1;
      height: 100%;
    }
  }
}

.body-content:has(.upgrade, .payment, .your-account, .bills, .change-page) {
  --sider-width: 0px;
  --sider-collapsed-width: 0px;
  margin-left: 0px;

  .ant-layout-sider.sider-bar {
    border: none;
  }

  header.header-bar {
    background: var(--background-content-color) !important;

    .left-header {
      .menu-btn.mobile {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .body-content {
    --sider-width: 0px;
    --sider-collapsed-width: 0px;
    margin-left: 0px;

    main.main-content {
      & + .container {
        // padding: 15px 15px;
        padding-bottom: 30px;
      }
    }
  }
}
