.body-content {
  display: flex;
  position: relative;
  min-height: calc(100vh - var(--header-height));
  margin-left: var(--sider-width);
  margin-top: var(--header-height);
  // transition: all 0.2s;
  // overflow: hidden;

  a {
    color: var(--link-text-color);
    text-decoration: none;
    transition: color 0.15s, background-color 0.15s;

    &:hover {
      color: var(--link-text-color-hover);
    }
  }

  .body-wrapper {
    flex: auto;
    position: relative;
    display: flex;
    max-width: var(--max-width-app);
    margin: 0px auto;
  }

  &.expand,
  &.fixed {
    margin-left: var(--sider-collapsed-width);
  }

  main.main-content {
    display: flex;
    flex: auto;
    width: 0;
    flex-direction: column;

    & > .container {
      position: relative;
      // padding: 15px 20px;
      padding-bottom: 50px;
      flex-grow: 1;
      height: 100%;
    }
  }
}

// .upgrade, .payment, .your-account, .bills
.body-content:has(.service-page, .change-page) {
  --sider-width: 0px;
  --sider-collapsed-width: 0px;
  margin-left: 0px;
  background-color: #fff;

  .body-wrapper {
    --text-color-gray: #6f6f6f;
    --text-color-gray1: #4d4d4d;
    color: var(--text-color-invert);

    .anticon {
      svg {
        fill: var(--text-color-invert);
      }
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      color: var(--text-color-invert);

      &.submit-btn {
        color: var(--text-color);
      }
    }
  }

  .ant-layout-sider.sider-bar {
    border: none;
  }

  header.header-bar {
    background: var(--background-content-color);

    .anticon {
      svg {
        fill: var(--text-color);
      }
    }

    .left-header {
      .menu-btn.mobile {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .body-content {
    --sider-width: 0px;
    --sider-collapsed-width: 0px;
    margin-left: 0px;

    main.main-content {
      & + .container {
        // padding: 15px 15px;
        padding-bottom: 30px;
      }
    }
  }
}
