.ant-result {
  .ant-result-title,
  .ant-result-subtitle {
    color: #fff !important;
  }

  .ant-result-subtitle {
    font-size: 1.8rem;
  }

  .ant-result-extra {
    .ant-btn {
      margin: 0px auto;
      border-radius: 3px;
    }
  }
}
