@import 'normalize.css';
@import './fonts';

:root {
  --background-content-color: #070707;
  --background-content-color1: #181818;
  --background-content-color2: #111111;
  --background-content-opacity: #111111e3;
  --background-admin-color: #181818;
  --loading-background: #101010;

  --text-color: #f4f4f4;
  --text-color-gray: #a4a4a4;
  --text-color-gray1: #d3d3d3;
  --text-label-color: #777;

  --search-background: #0a0a0a41;
  --search-focus-background: #141414;

  --loading-progress-bar1: #1cb5e0;
  --loading-progress-bar2: #00dc82;
  --loading-progress-bar3: #1cb5e0;

  --hover-regular-color: #002135;
  --hover-dropdown-color: #222222;

  --preview-modal-background-color: #080808;

  --tooltip-background-color: #222222;

  --app-background-color: #0082c7;
  --app-background-color1: #c30061;
  --app-background-color2: #000046;
  --app-background-color3: #1cb5e0;
  --app-background-color4: #470024;
  --app-background-color5: #6d026d;
  --app-background-color6: #e82b00;

  --link-text-color: #006999;
  --link-text-color-hover: #009ac5;

  --menu-item-background-color: #07070780;
  --menu-inline-submenu-background-color: #2828284d;

  --btn-backgroud-color-gray: #1e1e1e;
  --btn-backgroud-color-gray1: #252525;
  --btn-backgroud-color-gray-hover: #303030;
  --btn-border-color: #e3e3e3;
  --btn-border-color-hover: #c7c7c7;
  --btn-backgroud-color: #004671;
  --btn-backgroud-color-hover: #003b60;
  --btn-delete-background-color: #f10606;
  --btn-delete-hover-color: #af0000;

  --input-border-color-focused: #00649d;
  --input-border-color-hover: #00649d;

  --border-regular: #e3e3e3;
  --border-regular-btn: #ffffff;
  --border-regular-light: #ffffff4d;
  --border-dropdown: #4d4d4d;

  --breadcrumb-background-color: #070707;
  --footer-background-color: #070707;

  --box-shadow-small: 0 3px 10px #000000bf;
  --box-shadow-medium: 0 8px 20px #070707;
  --box-shadow-medium1: 0 8px 10px #070707;
  --box-shadow-large: 0 10px 25px #070707;

  --padding-home: 30px;
  --padding-home-expand: 50px;

  --header-height: 65px;
  --sider-width: 230px;
  // --sider-collapsed-width: 75px;
  --sider-collapsed-width: 0px;
  --max-app-width: 2200px;
  --max-width-collapsed-sider: 900px;
  // --card-movie-gap: 7px;
  --card-movie-gap: 0.35vw;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
}

*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  width: auto;
  // color-scheme: dark;
}

body {
  font-size: 1.5rem;
  // line-height: 2.2rem;
  line-height: 1.5;
  // font-size: clamp(1.4rem, 1vw, 10rem);
  font-family: 'Roboto Flex', sans-serif;
  text-rendering: optimizeSpeed;
  // user-select: none;
  color: var(--text-color);
  background-color: var(--background-content-color);
}

::-webkit-scrollbar {
  width: 14px;
  background-color: transparent;
  transition: all 0.1s;
  height: 14px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  transition: all 0.1s;
  background-color: #7e7e7e;
  border: 3px solid transparent;
  background-clip: padding-box;

  &:hover {
    background-color: #686868;
  }

  &:active {
    background-color: #686868;
  }
}

::-moz-selection {
  /* Code for Firefox */
  background-color: #0085ad;
}

::selection {
  background-color: #0085ad;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
th,
td,
ol,
ul,
li,
dl {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

a {
  color: var(--link-text-color);
  transition: color 0.2s;

  &:hover {
    color: var(--link-text-color-hover);
  }
}

img,
button,
.logo {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo {
  h1,
  h2,
  h3 {
    // #290070,
    // #ff1361,
    // #ffc400,
    // #ff5100,
    // #9f0000,
    // #25126b

    background-image: linear-gradient(
      90deg,
      var(--app-background-color3),
      var(--app-background-color2),
      var(--app-background-color3)
    );

    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lobster', cursive;
    font-size: 1.9em;

    &.animated {
      animation: textclip 3s linear infinite;
    }
  }

  @keyframes textclip {
    from {
      background-position: 0% center;
    }
    to {
      background-position: 200% center;
    }
  }
}

.padding-content {
  padding: 15px 20px;
}

@media only screen and (max-width: 900px) {
  .padding-content {
    padding: 15px 15px;
  }
}

.gradient-title-default {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  position: relative;

  & > span {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 500;
    background-image: linear-gradient(
      to right,
      var(--app-background-color2),
      var(--app-background-color3)
    );
  }

  &.underline {
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: -5px;

      background-image: linear-gradient(
        to right,
        var(--app-background-color3),
        var(--app-background-color2)
      );
    }
  }
}

.section-title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 2rem;
  position: relative;

  &.width-fit {
    display: inline-block;
  }

  & > span {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 500;
    background-image: linear-gradient(
      to right,
      var(--app-background-color2),
      var(--app-background-color3)
    );
  }

  &::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      var(--app-background-color3),
      var(--app-background-color2)
    );
    left: 0;
    bottom: -5px;
  }
}

@media only screen and (max-width: 1500px) {
  .gradient-title-default {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 9px;
  }

  .gradient-title-default {
    font-size: 2rem;
  }

  .section-title {
    font-size: 1.8rem;
  }
}

.movie-group {
  display: flex;
  gap: var(--card-movie-gap);
  flex-wrap: wrap;
}

.movie-group,
.discover-section {
  .movie-card-item.vertical,
  .movie-card-item.horizontal {
    .detail-flow {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(1.1);
    }
  }
}

@import './globalStyle/MovieCardItem.scss';

@import './globalStyle/overwrite/element';

@import './globalStyle/overwrite/antd';

.owl-carousel {
  .owl-stage-outer {
    clip-path: inset(-100vh 0 -100vh 0);
    overflow: visible !important;
  }
}

.ant-btn {
  &.default {
    display: flex;
    align-items: center;
    border-color: var(--border-regular);
    color: var(--text-color);
    transition: all 0.25s;
    height: auto;
    background-color: transparent;

    &.gradient {
      background: linear-gradient(
        to right,
        var(--app-background-color3),
        var(--app-background-color2),
        var(--app-background-color3)
      );
      border: none;
      background-size: 200% 100%;
      padding: 11px 35px;

      &:hover {
        background-size: 200% 100%;
        background-position: 100% center;
      }
    }

    &:hover {
      border-color: var(--btn-border-color-hover);
    }

    &:active {
      opacity: 0.8;
    }

    &::after {
      box-shadow: none !important;
    }
  }

  &.modern {
    color: var(--text-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    height: 100%;
    // padding: 9px 27px;
    // font-size: 1.8rem;
    padding: 0.35vw 1.5vw;
    transition: all 0.15s;

    svg {
      // margin-right: 7px;
      // font-size: 1.8rem;
      margin-right: 0.4vw;
      font-size: 1.1vw;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.ant-dropdown.dropdown-viewmore {
  border: none;
  border-radius: 10px;
  overflow: hidden;

  .ant-dropdown-menu.dropdown-viewmore {
    padding: 7px 0px;
  }

  .ant-dropdown-menu-item {
    border: none;
    padding: 10px 20px;
    font-size: 1.45rem;

    span,
    a {
      color: #fff;
    }

    svg,
    i {
      margin-right: 16px;
      font-size: 1.5rem;
    }

    .material-icons-outlined {
      font-size: 2rem;
    }
  }

  .ant-dropdown-menu-item:not(.material-icons-outlined) {
    .anticon {
      margin-left: 2px;
      margin-right: 16px;

      svg {
        margin-right: 0px;
      }
    }

    svg {
      margin-left: -2px;
      width: 15px;
      font-size: 1.5rem;
    }
  }
}

.ant-dropdown.dropdown-item-viewmore {
  display: inline-flex;
  position: relative !important;
  border: none;
  border-radius: 7px;
  overflow: hidden;
  z-index: 5;

  .ant-dropdown-menu {
    .main-action {
      padding: 7px 0px;
    }

    hr {
      border-top: 1px solid #7e7e7e00;
    }

    .danger-zone {
      padding: 7px 0px;

      .ant-dropdown-menu-item {
        &.remove-item {
          color: #b90016;
          span,
          a {
            color: #b90016;
          }
        }
      }
    }
  }

  .ant-dropdown-menu-item {
    border: none;
    padding: 10px 20px;
    font-size: 1.45rem;
    max-height: 42px;

    span,
    a {
      color: #fff;
    }
  }
}
