:root {
  --background-content-color: #101010;
  --background-content-color1: #181818;
  --background-content-color2: #111111;
  --background-content-opacity: #111111e3;

  --text-color: #f4f4f4;
  --text-color-gray: #a4a4a4;
  --text-color-gray1: #d3d3d3;
  --text-label-color: #777;
  --text-button-disabled-color: #979797;
  --link-text-color: #007db6;
  --link-text-color-hover: #009ac5;
  --text-danger-color: #b90016;

  --search-background: #0a0a0a41;
  --search-focus-background: #151515;
  --search-focus-border-color: #fff;

  --loading-background: #101010;

  --loading-app-color: #0080ca;

  --loading-progress-bar1: #1cb5e0;
  --loading-progress-bar2: #00dc82;
  --loading-progress-bar3: #1cb5e0;

  --hover-regular-color: #002135;

  --background-dropdown-color: #131313;
  --hover-dropdown-color: #202020;
  --background-select-dropdown-color: #101010;
  --background-dropdown-selected-color: #373737;

  --preview-modal-background-color: #181818;

  --tooltip-background-color: #222222;

  --app-background-color: #008ddf;
  --app-background-color1: #c30061;
  --app-background-color2: #000046;
  --app-background-color3: #00b4dd;
  --app-background-color4: #470024;
  --app-background-color5: #6d026d;
  --app-background-color6: #00dc82;
  --app-background-color7: #004298;
  --app-background-color8: #0069a5;

  --menu-item-background-color: #4d4d4d28;
  --menu-inline-submenu-background-color: #12121265;

  --btn-background-color-gray: #1e1e1e;
  --btn-background-color-gray1: #252525;
  --btn-background-color-gray-hover: #1b1b1b;
  --btn-border-color-hover: #fff;
  --btn-color: #0080ca;
  --btn-danger-color: #ff4d4f;

  --input-background-color-disabled: #353535;
  --input-border-color: #545454;
  --input-border-color-focused: #0080ca;
  --input-border-color-hover: #0080ca;

  --border-regular: #727272;
  --border-regular-btn: #5a5a5a;
  --border-regular-light: #ffffff4d;
  --border-dropdown: #787878;

  --menu-item-height: 48px;
  --menu-text-color: #eaeaea;
  --menu-active-text-color: #fff;

  --breadcrumb-background-color: #101010;
  --footer-background-color: #101010;

  --box-shadow-small: 0 3px 10px rgba(0, 0, 0, 0.7);
  --box-shadow-medium: 0 8px 20px rgba(0, 0, 0, 0.7);
  --box-shadow-medium1: 0 5px 15px rgba(0, 0, 0, 0.7);
  --box-shadow-large: 0 15px 30px rgba(0, 0, 0, 0.8);

  --padding-home: 30px;
  --padding-home-expand: 50px;

  --header-height: 65px;
  --sider-width: 240px;
  --sider-collapsed-width: 75px;
  // --sider-collapsed-width: 0px;
  --drawer-width: 240px;
  --max-width-app: 2200px;
  --max-width-collapsed-sider: 900px;
  // --card-movie-gap: 7px;
  --card-movie-gap: 0.35vw;
  --line-height-regular: 1.5;
}

@media (prefers-color-scheme: light) {
  :root {
    --border-regular: #a0a0a0;
    --border-regular-light: #292929;
    --search-focus-border-color: #5c5c5c;
  }
}

html {
  // scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
}

*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  width: auto;
  // color-scheme: dark;
}

body {
  font-size: 1.5rem;
  // line-height: 2.2rem;
  line-height: var(--line-height-regular);
  // font-size: clamp(1.4rem, 1vw, 10rem);
  font-family: 'Roboto Flex', sans-serif;
  text-rendering: optimizeSpeed;
  // user-select: none;
  color: var(--text-color);
  background-color: var(--background-content-color);

  &::-webkit-scrollbar {
    // display: none;
  }
}

::-webkit-scrollbar {
  width: 14px;
  background-color: transparent;
  height: 14px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 3px solid transparent;
  background-clip: padding-box;
  background-color: #686868;

  &:hover {
    background-color: #7e7e7e;
  }

  &:active {
    background-color: #7e7e7e;
  }
}

::-moz-selection {
  /* Code for Firefox */
  background-color: #0085ad;
}

::selection {
  background-color: #0085ad;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
th,
td,
ol,
ul,
li,
dl {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

a {
  color: var(--link-text-color);
  text-decoration: none;
  transition: color 0.15s;

  &:hover {
    color: var(--link-text-color-hover);
  }
}

img,
button,
.logo {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

svg {
  // fill: var(--text-color);
  user-select: none;
}

.logo {
  display: flex;

  a {
    background-image: linear-gradient(
      90deg,
      var(--app-background-color7),
      var(--app-background-color3)
    );
    // background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lobster', cursive;
    font-size: 1.9em;

    &.animated {
      animation: textclip 3s linear infinite;
    }
  }

  @keyframes textclip {
    from {
      background-position: 0% center;
    }
    to {
      background-position: 200% center;
    }
  }
}

.click-active {
  &:active {
    opacity: 0.8;
  }
}

.gradient-title-default {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  position: relative;
  user-select: none;

  & > span {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 500;
    background-image: linear-gradient(
      to right,
      var(--app-background-color7),
      var(--app-background-color3)
    );
  }

  &.underline {
    &::before {
      content: '';
      position: absolute;
      height: 1.5px;
      width: 100%;
      left: 0;
      bottom: -5px;

      background-image: linear-gradient(
        to right,
        var(--app-background-color3),
        var(--app-background-color7)
      );
    }
  }
}

.section-title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 2rem;
  position: relative;

  &.width-fit {
    display: inline-block;
  }

  & > span {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 500;
    background-image: linear-gradient(
      to right,
      var(--app-background-color7),
      var(--app-background-color3)
    );
  }

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      var(--app-background-color3),
      var(--app-background-color7)
    );
    left: 0;
    bottom: -5px;
  }
}

@media only screen and (max-width: 1500px) {
  .gradient-title-default {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 900px) {
  html {
    // font-size: 9px;
  }

  body {
    font-size: 1.4rem;
  }

  .gradient-title-default {
    font-size: 2rem;
  }

  .section-title {
    font-size: 1.8rem;
  }
}

.movie-group {
  display: flex;
  gap: var(--card-movie-gap);
  flex-wrap: wrap;
}

.movie-group,
.discover-section {
  .movie-card-item.vertical,
  .movie-card-item.horizontal {
    .detail-flow {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(1.1);
    }
  }
}

.owl-carousel {
  .owl-stage-outer {
    clip-path: inset(-100vh 0 -100vh 0);
    overflow: visible !important;
  }
}

.ant-btn,
.ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transition: all 0.15s;
  font-size: 1.5rem;
  box-shadow: none;
  // line-height: var(--line-height-regular);
  line-height: normal;

  &.ant-btn-lg {
    padding: 10px 15px;
  }

  &:not(.ant-btn-circle) {
    height: auto;
    border-radius: 1px;
  }

  &:hover {
    color: var(--text-color);
  }

  &:focus {
    color: var(--text-color);
  }

  &:active {
    color: var(--text-color);
  }

  &.ant-btn-primary:not([disabled]) {
    border-color: var(--app-background-color);

    &:hover {
      border-color: var(--app-background-color);
    }
  }

  &.ant-btn-dangerous:not([disabled]) {
    background-color: var(--btn-danger-color);
    color: var(--btn-danger-color);
    border-color: var(--btn-danger-color);

    &:hover {
      background-color: var(--btn-danger-color);
      color: var(--btn-danger-color);
      border-color: var(--btn-danger-color);
    }
  }

  &[disabled] {
    color: var(--text-button-disabled-color);

    &:hover {
      color: var(--text-button-disabled-color);
    }

    &:focus {
      color: var(--text-button-disabled-color);
    }

    &:active {
      opacity: 1 !important;
    }
  }

  svg {
    fill: var(--text-color);
  }

  &.default {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: var(--border-regular);
    font-size: 1.5rem;
    color: var(--text-color);
    transition: all 0.15s;
    height: auto;
    background-color: transparent;

    &.gradient {
      background: linear-gradient(
        to right,
        var(--app-background-color3),
        var(--app-background-color2),
        var(--app-background-color3)
      );
      border: none;
      background-size: 200% 100%;
      padding: 11px 35px;
      transition: all 0.3s;

      &:hover {
        background-size: 200% 100%;
        background-position: 100% center;
      }
    }

    &:hover {
      border-color: var(--btn-border-color-hover);
    }

    &:active {
      opacity: 0.8;
    }

    &::after {
      box-shadow: none !important;
    }
  }

  &.modern {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.5rem;
    background-color: transparent;
    border-color: transparent;
    height: 100%;
    // padding: 0.35vw 1.5vw;
    padding: 9px 25px;
    transition: all 0.15s;

    svg {
      margin-right: 7px;
      font-size: 1.8rem;
      // margin-right: 0.4vw;
      // font-size: 1.1vw;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.ant-dropdown.dropdown-viewmore {
  border: none;
  border-radius: 2px;
  overflow: hidden;
  user-select: none;

  .ant-dropdown-menu.dropdown-viewmore {
    padding: 7px 0px;
  }

  .ant-dropdown-menu-item {
    border: none;
    padding: 10px 20px;
    font-size: 1.45rem;

    span,
    a {
      color: var(--text-color);
    }

    svg,
    i {
      margin-right: 16px;
      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    .material-icons-outlined {
      font-size: 2rem;
    }
  }

  .ant-dropdown-menu-item:not(.material-icons-outlined) {
    .anticon {
      margin-left: 2px;
      margin-right: 16px;

      svg {
        margin-right: 0px;
      }
    }

    svg {
      margin-left: -2px;
      width: 15px;
      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.ant-dropdown.dropdown-item-viewmore {
  display: inline-flex;
  position: relative !important;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  z-index: 5;
  user-select: none;

  .ant-dropdown-menu {
    .main-action {
      padding: 7px 0px;
    }

    hr {
      border-top: 1px solid #7e7e7e00;
    }

    .danger-zone {
      padding: 7px 0px;

      .ant-dropdown-menu-item {
        &.remove-item {
          color: var(--text-danger-color);

          span,
          a {
            color: var(--text-danger-color);
          }
        }
      }
    }
  }

  .ant-dropdown-menu-item {
    border: none;
    padding: 10px 20px;
    font-size: 1.45rem;
    max-height: 42px;

    span,
    a {
      color: var(--text-color);
    }
  }
}
