.movie-group.horizontal.trailer {
  .movie-card-horizontal-item {
    display: inline-block;
    width: calc((100% - (5 * var(--card-movie-gap))) / 6);
  }
}

// .body-content.expand {
// .movie-group.horizontal.trailer {
//   .movie-card-horizontal-item {
//     display: inline-block;
//     width: calc((100% - (5 * 7px)) / 6);
//   }
// }
// }

.movie-card-horizontal-item {
  color: #fff;
  cursor: pointer;
  position: relative;
  display: block;

  .percent-viewed {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: var(--percent-viewed);
    background-color: red;
    z-index: 1;
  }

  .viewed-overlay-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    z-index: 0;
    background-color: #57575787;
  }

  .youtub-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.4s;

    .fa-youtube {
      font-size: 45px;
      color: red;
    }
  }

  .ant-skeleton-content .ant-skeleton-paragraph > li + li {
    margin-top: 10px;
  }

  &:hover {
    .youtub-icon {
      opacity: 1;
      z-index: 1;
    }
  }

  .el-skeleton__item .el-skeleton__text {
    padding: 7px 0px;
  }
}

.ant-modal.modal-trailer {
  .ant-modal-content,
  .ant-modal-header {
    background: var(--background-content-color1);

    p,
    span {
      color: #fff;
    }
  }

  .action {
    display: flex;
    gap: 10px;

    .ant-btn {
      background-color: var(--btn-backgroud-color-gray);
    }

    .btn-play-now {
      color: #fff;
      padding: 9px 23px;
      background-color: #ba0025;
      transition: all 0.3s;
      border-radius: 2px;
      white-space: nowrap;

      &:hover {
        background-color: #ba0025ae;
      }
    }
  }
}

// @media only screen and (max-width: 1250px) {
//   .body-content.expand {
//     .movie-group.horizontal.trailer {
//       grid-template-columns: repeat(auto-fit, minmax(24%, auto));

//       .movie-card-horizontal-item-trailer {
//         .img-box {
//           transition: all 0.3s;
//           height: 160px;
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 1130px) {
//   .movie-group.horizontal.trailer {
//     grid-template-columns: repeat(auto-fit, minmax(32%, auto)) !important;

//     .movie-card-horizontal-item-trailer {
//       .img-box {
//         transition: all 0.3s;
//         height: 160px;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 1010px) {
//   .body-content.expand {
//     .movie-group.horizontal.trailer {
//       grid-template-columns: repeat(auto-fit, minmax(32%, auto)) !important;

//       .movie-card-horizontal-item-trailer {
//         .img-box {
//           transition: all 0.3s;
//           height: 160px;
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 930px) {
//   .movie-group.horizontal.trailer {
//     grid-template-columns: repeat(auto-fit, minmax(49%, auto)) !important;

//     .movie-card-horizontal-item-trailer {
//       .img-box {
//         transition: all 0.3s;
//         height: 190px;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 850px) {
//   .movie-group.horizontal.trailer {
//     .movie-card-horizontal-item-trailer {
//       .img-box {
//         height: 160px;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 800px) {
//   .movie-group.horizontal.trailer {
//     grid-template-columns: repeat(auto-fit, minmax(32%, auto)) !important;

//     .movie-card-horizontal-item-trailer {
//       .img-box {
//         height: 160px;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 650px) {
//   .movie-group.horizontal.trailer {
//     grid-template-columns: repeat(auto-fit, minmax(48%, auto)) !important;

//     .movie-card-horizontal-item-trailer {
//       .img-box {
//         height: 180px;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 600px) {
//   .movie-group.horizontal.trailer {
//     .movie-card-horizontal-item-trailer {
//       .img-box {
//         height: 160px;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 500px) {
//   .movie-group.horizontal.trailer {
//     .movie-card-horizontal-item-trailer {
//       .img-box {
//         height: 140px;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 450px) {
//   .movie-group.horizontal.trailer {
//     .movie-card-horizontal-item-trailer {
//       .img-box {
//         height: 130px;
//       }
//     }
//   }
// }

@media only screen and (min-width: 1700px) {
  .ant-modal.modal-trailer {
    iframe {
      height: 650px;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .ant-modal.modal-trailer {
    width: 1000px !important;
    iframe {
      height: 550px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .ant-modal.modal-trailer {
    width: 900px !important;
    iframe {
      height: 450px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .ant-modal.modal-trailer {
    iframe {
      height: 400px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .ant-modal.modal-trailer {
    iframe {
      height: 300px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .ant-modal.modal-trailer {
    iframe {
      height: 200px;
    }
  }
}
