.back-page {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  &.fixed {
    position: fixed;
    z-index: 10;
    top: var(--header-height);

    .ant-btn {
      background-color: transparent;
    }
  }

  .ant-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    height: auto;
    padding: 10px 0px;
    padding-right: 10px;
    padding-left: 3px;
    cursor: pointer;
    border: none;
    transition: opacity 0.15s;
    background-color: transparent;

    svg {
      // font-size: 2.3rem;
      width: 2.3rem;
    }

    &:active {
      opacity: 0.8;
    }

    &:hover {
      // box-shadow: var(--box-shadow-small);
    }
  }
}
