.verify-email {
  &.active {
    margin: auto auto;
  }

  .verify-form-container {
    position: relative;
    margin: auto auto;
    flex-direction: column;
    border-radius: 5px;
    z-index: 11;
    overflow: hidden;
    transition: all 0s;

    .back-btn {
      position: absolute;
      display: flex;
      align-items: center;
      top: 6px;
      padding: 0px;

      svg {
        margin-right: 2px;
        width: 2rem;
        height: 2rem;
      }
    }

    .verify-form {
      .title-verify {
        text-align: center;
        margin-bottom: 20px;

        h1 {
          margin-top: 0px;
          font-size: 2.7rem;
        }
      }

      .ant-input-affix-wrapper {
        background: transparent;

        input,
        .ant-input-prefix {
          color: var(--text-color);
        }

        &:hover {
          background: transparent;
        }
      }

      .ant-input-affix-wrapper-focused {
        background: transparent;
      }

      .ant-row.ant-form-item {
        .ant-col.ant-form-item-control {
          .ant-form-item-control-input-content {
            display: flex;
            flex-direction: row;

            .count-down-button {
              min-width: 100px;
              background-color: transparent;

              // &[disabled] {
              //   color: #b3b3b3;
              // }
            }
          }
        }
      }

      .verify-form-button {
        font-size: 1.5rem;
        margin-top: 20px;
        width: 100%;

        &:not(:disabled) {
          background-color: var(--app-background-color);
        }

        &:disabled {
          // background-color: transparent;
        }
      }
    }
  }
}
