.movie-group.vertical {
  .movie-card-item.vertical {
    display: inline-block;
    width: calc((100% - (7 * var(--card-movie-gap))) / 8);
  }
}

.movie-group.vertical.ranking {
  .movie-card-item.vertical {
    width: calc((100% - (7 * var(--card-movie-gap))) / 7);
    .img-box {
      height: 13vw;
    }
  }
}

.body-content.expand {
  .home-container {
    .movie-card-item.vertical {
      .img-box {
        height: 16vw;
      }
    }
  }
}

.movie-card-item {
  &.vertical {
    .el-skeleton.is-animated {
      .content-skeleton {
        margin-top: 13px;

        .el-skeleton__item.el-skeleton__text {
          // height: 18px;
        }
      }
    }

    .img-box,
    .skeleton-img {
      position: relative;
      // height: 15vw;
      overflow: hidden;
      // border-top-right-radius: 5px;
      // border-top-left-radius: 5px;
      border-radius: 5px;
      transition: all 0.3s;
      height: 0px !important;
      padding-bottom: 155%;

      .ant-image {
        position: absolute;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s;
        background-color: var(--background-content-color);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100%;
        max-height: 100%;

        img {
          // height: 100%;
          transition: all 0.3s;
          object-fit: cover;
        }
      }

      .percent-viewed {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: var(--percent-viewed);
        background-color: var(--app-background-color3);
        z-index: 1;
      }

      .viewed-overlay-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        z-index: 0;
        background-color: #57575787;
      }
    }
  }
}

@media only screen and (max-width: 2000px) {
  .body-content.expand {
    .movie-group.vertical.ranking {
      .movie-card-item.vertical {
        width: calc((100% - (6 * var(--card-movie-gap))) / 7);
        .img-box {
          // height: 14vw;
        }
      }
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
      width: calc((100% - (5 * var(--card-movie-gap))) / 6);
      .img-box {
        // height: 14vw;
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .body-content.expand {
    .movie-card-item.vertical {
      .img-box {
        // height: 17vw;
      }
    }

    .movie-group.vertical.ranking {
      .movie-card-item.vertical {
        width: calc((100% - (5 * var(--card-movie-gap))) / 6);
        .img-box {
          // height: 15vw;
        }
      }
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
      width: calc((100% - (4 * var(--card-movie-gap))) / 5);
      .img-box {
        // height: 15vw;
      }
    }
  }
}

@media only screen and (max-width: 1550px) {
  .body-content.expand {
    .movie-card-item.vertical {
      .img-box {
        // height: 20vw;
      }
    }
  }

  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (5 * var(--card-movie-gap))) / 6);
      .img-box {
        // height: 18vw;
      }
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
      width: calc((100% - (3 * var(--card-movie-gap))) / 4);
      .img-box {
        // height: 17vw;
      }
    }
  }

  .movie-card-item.vertical {
    .img-box {
      // height: 18vw;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .body-content.expand {
    .movie-card-item.vertical {
      .img-box {
        // height: 25vw;
      }
    }

    .movie-group.vertical.ranking {
      .movie-card-item.vertical {
        width: calc((100% - (4 * var(--card-movie-gap))) / 5);
        .img-box {
          // height: 19vw;
        }
      }
    }
  }

  .movie-card-item.vertical {
    .img-box {
      // height: 22vw;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (4 * var(--card-movie-gap))) / 5);
      .img-box {
        // height: 22vw;
      }
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
      width: calc((100% - (2 * var(--card-movie-gap))) / 3);
      .img-box {
        // height: 22vw;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .body-content.expand {
    .movie-group.vertical.ranking {
      .movie-card-item.vertical {
        width: calc((100% - (3 * var(--card-movie-gap))) / 4);
        .img-box {
          // height: 23vw;
        }
      }
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
      .img-box {
        // height: 20vw;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .body-content.expand {
    .movie-card-item.vertical {
      .img-box {
        // height: 29vw;
      }
    }

    .movie-group.vertical {
      .movie-card-item.vertical {
        width: calc((100% - (4 * var(--card-movie-gap))) / 5) !important;
        .img-box {
          // height: 26vw !important;
        }
      }
    }
  }

  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (3 * var(--card-movie-gap))) / 4) !important;
      .img-box {
        // height: 25vw !important;
      }
    }
  }

  .movie-card-item.vertical {
    .img-box {
      // height: 23vw;
    }
  }
}

@media only screen and (max-width: 900px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (4 * var(--card-movie-gap))) / 5) !important;
      .img-box {
        // height: 24vw !important;
      }
    }
  }

  .movie-card-item.vertical {
    .img-box {
      // height: 33vw;
    }
  }
}

@media only screen and (max-width: 800px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (3 * var(--card-movie-gap))) / 4) !important;
      .img-box {
        // height: 32vw !important;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .movie-card-item.vertical {
    .img-box {
      // height: 43vw !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (2 * var(--card-movie-gap))) / 3) !important;
      .img-box {
        // height: 40vw !important;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (1 * var(--card-movie-gap))) / 2) !important;
      .img-box {
        // height: 64vw !important;
      }
    }
  }

  .movie-card-item.vertical {
    .img-box {
      // height: 64vw !important;
    }
  }
}
