.rating-movie {
  white-space: nowrap;

  .rate-bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .label {
      white-space: nowrap;
      // margin-right: 0.3rem;
      margin-right: 1rem;
      color: var(--text-label-color);
    }

    .ant-rate {
      display: flex;
      // height: 35px;
      height: 2.5rem;

      .ant-rate-star {
        & > div,
        svg {
          transition: all 0s !important;
        }

        .ant-rate-star-first,
        .ant-rate-star-second {
          transition: all 0s !important;
        }
      }

      // .ant-rate-star-zero {
      //   svg {
      //     color: #fff;
      //   }
      // }

      .ant-rate-star-full {
        color: #ffea00;
        fill: #ffea00;
      }

      .ant-rate-star-half {
        .ant-rate-star-first {
          svg {
            color: #ffea00;
            fill: #ffea00;
          }
        }
      }

      &.rated {
        .ant-rate-star-full {
          svg {
            color: #00e5a4;
            fill: #00e5a4;
          }
        }

        .ant-rate-star-half {
          .ant-rate-star-first {
            svg {
              color: #00e5a4;
              fill: #00e5a4;
            }
          }
        }
      }

      .ant-rate-star {
      }

      .el-rate .el-rate__icon {
        font-size: 2rem;
      }
    }
  }

  .rate-info {
    .rate-score {
      &.low {
        color: #d00000;
      }

      &.medium {
        color: #d4aa00;
      }

      &.high {
        color: #008049;
      }
    }

    .separate {
      margin: 0px 3px;
    }
  }
}
