.movie-group.horizontal {
  .movie-card-item.horizontal {
    display: inline-block;
    width: calc((100% - (5 * var(--card-movie-gap))) / 6);
    //   margin: 4px;
  }
}

.body-content.expand {
  .home-container {
    .movie-card-item.horizontal {
      .img-box {
        height: 9vw;
      }
    }
  }
}

.movie-card-item {
  &.horizontal {
    .el-skeleton.is-animated {
      .el-skeleton__item.skeleton-img {
      }

      .content-skeleton {
        margin-top: 7px;

        .el-skeleton__item.el-skeleton__text {
          // height: 18px;
        }
      }
    }

    .img-box,
    .skeleton-img {
      position: relative;
      height: 8vw;
      overflow: hidden;
      // border-top-right-radius: 5px;
      // border-top-left-radius: 5px;
      border-radius: 5px;
      transition: all 0.3s;
      height: 0px !important;
      padding-bottom: 56.25%;

      .ant-image {
        position: absolute;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s;
        background-color: var(--background-content-color);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100%;
        max-height: 100%;

        img {
          object-fit: cover;
          transition: all 0.3s;
        }
      }

      .percent-viewed {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: var(--percent-viewed);
        background-color: var(--app-background-color3);
        z-index: 1;
      }

      .viewed-overlay-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        z-index: 0;
        background-color: #57575787;
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .body-content.expand {
    .movie-card-item.horizontal {
      .img-box {
        // height: 10vw !important;
      }
    }
  }

  .movie-group.horizontal {
    .movie-card-item.horizontal {
      display: inline-block;
      width: calc((100% - (4 * var(--card-movie-gap))) / 5);
      //   margin: 4px;
    }
  }

  .movie-card-item.horizontal {
    .img-box {
      // height: 9vw !important;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .body-content.expand {
    .movie-card-item.horizontal {
      .img-box {
        // height: 13vw !important;
      }
    }
  }

  .movie-group.horizontal {
    .movie-card-item.horizontal {
      display: inline-block;
      width: calc((100% - (3 * var(--card-movie-gap))) / 4);
      //   margin: 4px;
    }
  }

  .movie-card-item.horizontal {
    .img-box {
      // height: 11vw !important;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .body-content.expand {
    .movie-card-item.horizontal {
      .img-box {
        // height: 17vw !important;
      }
    }
  }

  .movie-group.horizontal {
    .movie-card-item.horizontal {
      display: inline-block;
      width: calc((100% - (2 * var(--card-movie-gap))) / 3);
      //   margin: 4px;
    }
  }

  .movie-card-item.horizontal {
    .img-box {
      // height: 14vw !important;
    }
  }
}

@media only screen and (max-width: 900px) {
  .movie-card-item.horizontal {
    .img-box {
      // height: 18vw !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .movie-card-item.horizontal {
    .img-box {
      // height: 26vw !important;
    }
  }

  .movie-group.horizontal {
    .movie-card-item.horizontal {
      display: inline-block;
      width: calc((100% - (1 * var(--card-movie-gap))) / 2);
      //   margin: 4px;
    }
  }
}
