.movie-group.horizontal {
  .movie-card-item.horizontal {
    display: inline-block;
    width: calc((100% - (5 * var(--card-movie-gap))) / 6);
    //   margin: 4px;
  }
}

.body-content.expand {
  .home-container {
    .movie-card-item.horizontal {
      .img-box {
        height: 9vw;
      }
    }
  }
}

.movie-card-item {
  &.horizontal {
    .el-skeleton.is-animated {
      position: relative;
      height: 8vw;
      overflow: hidden;
      // border-top-right-radius: 5px;
      // border-top-left-radius: 5px;
      border-radius: 5px;
      transition: all 0.3s;
      height: 0px !important;
      padding-bottom: 56.25%;

      .el-skeleton__item.skeleton-img {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .content-skeleton {
        margin-top: 7px;

        .el-skeleton__item.el-skeleton__text {
          // height: 18px;
        }
      }
    }

    .img-box {
      position: relative;
      width: 100%;
      overflow: hidden;
      // border-top-right-radius: 5px;
      // border-top-left-radius: 5px;
      border-radius: 5px;
      transition: all 0.3s;
      height: 0px !important;
      padding-bottom: 56.25%;

      .ant-image {
        position: absolute;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s;
        background-color: var(--background-content-color);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100%;
        max-height: 100%;

        &[lazy='error'] {
          background-size: 30%;
        }

        img {
          object-fit: cover;
          transition: all 0.3s;
        }
      }

      .percent-viewed {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: var(--percent-viewed);
        background-color: var(--app-background-color3);
        z-index: 2;
      }

      .viewed-overlay-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        z-index: 1;
        background-color: #3c3c3c59;
      }
    }

    .info {
      padding: 5px 5px;
      padding-top: 15px;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .body-content.expand {
    .movie-card-item.horizontal {
    }
  }

  .movie-group.horizontal {
    .movie-card-item.horizontal {
      width: calc((100% - (4 * var(--card-movie-gap))) / 5);
    }
  }

  .movie-card-item.horizontal {
  }
}

@media only screen and (max-width: 1500px) {
  .body-content.expand {
    .movie-card-item.horizontal {
    }
  }

  .movie-group.horizontal {
    .movie-card-item.horizontal {
      width: calc((100% - (3 * var(--card-movie-gap))) / 4);
    }
  }

  .movie-card-item.horizontal {
  }
}

@media only screen and (max-width: 1200px) {
  .body-content.expand {
    .movie-card-item.horizontal {
    }
  }

  .movie-group.horizontal {
    .movie-card-item.horizontal {
      width: calc((100% - (2 * var(--card-movie-gap))) / 3);
    }
  }

  .movie-card-item.horizontal {
  }
}

@media only screen and (max-width: 900px) {
  .movie-card-item.horizontal {
  }
}

@media only screen and (max-width: 600px) {
  .movie-card-item.horizontal {
  }

  .movie-group.horizontal {
    .movie-card-item.horizontal {
      width: calc((100% - (1 * var(--card-movie-gap))) / 2);
    }
  }
}
